<a href="/chat" class="nav-link{% if request.path == '/chat' %} active{% endif %}" id="nav-chat" data-i18n="nav_chat">{{ nav_i18n.nav_chat }}</a>
<a href="/profile" class="nav-link{% if request.path == '/profile' %} active{% endif %}" id="nav-profile" data-i18n="nav_profile">{{ nav_i18n.nav_profile }}</a>
<a href="/outsource" class="nav-link{% if request.path == '/outsource' %} active{% endif %}" id="outsource-nav-link" data-i18n="nav_tasks">{{ nav_i18n.nav_tasks }}</a>
<a href="/system" class="nav-link{% if request.path == '/system' %} active{% endif %}" id="nav-system" data-i18n="nav_system">{{ nav_i18n.nav_system }}</a>
